@use '../utils/mixins' as *;

.contacts-grid {
  @include media(xl) {
    grid-template-columns: max-content;
  }
  @include media(md) {
    gap: 16px;
  }

  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  justify-content: space-between;

  &__title {
    margin-bottom: 8px;
    line-height: 150%;
    opacity: 0.6;
  }

  &__value {
    font-size: rem(20px);
    line-height: 150%;

    &--link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.socials {
  display: flex;

  &__item {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 24px;

    &:last-child {
      margin: 0;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer {
  color: var(--white);
  background: var(--background-secondary);
  border-top: 1px solid rgb(255 255 255 / 12%);

  &__inner {
    @include media(md) {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    display: grid;
    grid-template-columns: 1fr 15% max-content;
    gap: 80px;
    align-items: flex-end;
    justify-content: space-between;

    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__policy {
    display: flex;
    flex-wrap: wrap;
  }

  &__policy-link {
    margin-right: 40px;
    opacity: 0.6;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }

    &:last-child {
      margin: 0;
    }
  }
}
