@use '../utils/mixins' as *;

.contacts-grid {
  @include media(xl) {
    grid-template-columns: max-content;
  }
  @include media(md) {
    gap: 16px;
  }

  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 80px;
  justify-content: space-between;

  &__title {
    margin-bottom: 8px;
    line-height: 150%;
    opacity: 0.6;
  }

  &__value {
    font-size: rem(20px);
    line-height: 150%;

    &--link {
      position: relative;

      &::before {
        pointer-events: none;
        content: '';

        position: absolute;
        top: 100%;
        left: 0;
        transform: scale3d(0, 1, 1);
        transform-origin: 100% 50%;

        width: 100%;
        height: 1px;

        background: currentcolor;

        transition: transform 0.3s;
      }

      &:hover {
        &::before {
          transform: scale3d(1, 1, 1);
          transform-origin: 0% 50%;
        }
      }
    }
  }
}

.socials {
  display: flex;

  &__item {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 24px;

    &:last-child {
      margin: 0;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer {
  color: var(--white);
  background: var(--background-secondary);
  border-top: 1px solid rgb(255 255 255 / 12%);

  &__inner {
    @include media(md) {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    display: grid;
    grid-template-columns: max-content max-content;
    gap: 80px;
    align-items: flex-end;
    justify-content: space-between;

    padding-top: 40px;
    padding-bottom: 52px;
  }
}

.footer-bottom {
  @include media(sm) {
    flex-direction: row-reverse;
  }

  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.footer-policy {
  @include media(sm) {
    flex-direction: column;
  }

  display: flex;
  flex-wrap: wrap;

  &__item {
    @include media(sm) {
      margin-right: 0;
      margin-bottom: 8px;
    }

    margin-right: 40px;
    opacity: 0.6;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }

    &:last-child {
      margin: 0;
    }
  }
}
