@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.header {
  position: absolute;
  z-index: 1010;
  top: 0;
  left: 0;
  transform: translateY(0%);

  width: 100%;
  padding: 27px 0;

  color: var(--white);

  transition: 0.5s;

  &--hidden {
    transform: translateY(-100%);
    transition: 0.5s;
  }

  &--fixed {
    position: fixed;
    padding: 15px 0;
    background: rgb(29 29 27 / 84%);
    backdrop-filter: blur(8px);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    margin-right: auto;
    margin-left: 60px;
  }

  &__lang-switcher {
    margin-right: 12px;
  }

  &__btn {
    @include media(md) {
      width: 48px;
      height: 40px;
      margin-right: 8px;
      margin-left: auto;

      background: url(../assets/images/header-btn.svg);
      background-color: var(--white);
      background-repeat: no-repeat;
      background-position: center center;

      .btn__inner {
        display: none;
      }
    }

    font-size: rem(18px);
  }

  &__menu-btn {
    padding: 8px 22px;

    font-weight: 500;
    line-height: 150%;

    border: 1px solid rgb(255 255 255 / 40%);
    border-radius: 6px;
  }
}
