section.section.container 
  - locals.sectionTitle = 'Benefits für unsere Mitarbeiter'
  include ../blocks/section-heading
  .features-career 
    .features-career__item 
      picture.features-career__image
        img(src=require('@/images/features-career/1.svg'), alt="")
      .features-career__text
        h4.features-career__title Vielseitiges Aufgabengebiet: Restaurantbetrieb und Events
    .features-career__item 
      picture.features-career__image
        img(src=require('@/images/features-career/2.svg'), alt="")
      .features-career__text
        h4.features-career__title Hervorragende Perspektiven in einem wachsenden Unternehmen
    .features-career__item 
      picture.features-career__image
        img(src=require('@/images/features-career/3.svg'), alt="")
      .features-career__text
        h4.features-career__title Corporate Benefits
        p.features-career__desc betriebliche Altersvorsorge + Zusatzkrankenversicherung, Gesundheitsförderung, Mitarbeiterrabatte