section.section.section--black-bg
  .container 
    .features 
      p.features__desc Ob privat für Geburtstage, Hochzeit, Taufe, Jubiläum oder andere Familien-feiern oder geschäftlich für Workshops, Meetings & Besprechungen – wir gestalten Ihren Aufenthalt nach Ihren Wünschen.
      .features-grid 
        .features-grid__item 
          span.features-grid__number 3
          span.features-grid__title Hallen
        .features-grid__item 
          span.features-grid__number 80
          span.features-grid__title Sitzplätzen