section.section.container 
  - locals.sectionTitle = 'Speisekarte '
  include ../blocks/section-heading
  .menu-category.menu
    .menu-category__section 
      h3.menu-category__title Suppen
      .menu-category__row.js-menu-category-slider.swiper 
        .swiper-wrapper 
          - locals.slider = true 
          each val in [1,2,3,4,5,6,7]
            include ../blocks/menu-item
    .menu-category__section 
      h3.menu-category__title Snacks für den Kleinen Hunger
      .menu-category__row.js-menu-category-slider.swiper 
        .swiper-wrapper 
          - locals.slider = true 
          each val in [1,2,3,4,5,6,7]
            include ../blocks/menu-item
    .menu-category__section 
      h3.menu-category__title Hauptgerichte
      .menu-category__row.js-menu-category-slider.swiper 
        .swiper-wrapper 
          - locals.slider = true 
          each val in [1,2,3,4,5,6,7]
            include ../blocks/menu-item
    .menu-category__section 
      h3.menu-category__title Suppen
      .menu-category__row.js-menu-category-slider.swiper 
        .swiper-wrapper 
          - locals.slider = true 
          each val in [1,2,3,4,5,6,7]
            include ../blocks/menu-item
