.menu-grid__item.menu-item(class=slider ? 'swiper-slide' : '')
  picture.menu-item__image 
    img(src=require('@/images/menu/1.jpg'), alt="")
  .menu-item__info
    h3.menu-item__name Plov
    span.menu-item__line(aria-hidden="true")
    span.menu-item__price 16,-
  p.menu-item__ingredients mit Kemöl und gerösteten Kürbiskernen