section.section.container 
  - locals.sectionTitle = 'Speisekarte '
  include ../blocks/section-heading
  .menu-category-wrapper
    each val in [1,2,3,4]
      .menu-category 
        h3.menu-category__title Suppen
        .menu-category__grid 
          picture.menu-category__image
            img(src=require('@/images/menu/1.jpg'), alt="")
          .menu-category__list
            each val in [1,2,3,4,5,6]
              .menu-category__item
                .menu-category__heading 
                  h4.menu-category__name Kürbiscremesuppe
                  span.menu-category__line 
                  p.menu-category__price 14,-
                p.menu-category__desc mit Kemöl und gerösteten Kürbiskernen



