.modal-wrapper(data-modal-el="reserve")
  .modal
    button.modal__close(type="button")
      svg(width="20" height="20")
        use(xlink:href="sprite.svg#close_sprite") 
    h3.modal__title  Buchen Sie unsere moderne und gepflegte Kegelbahn Anlage
    p.modal__desc Lorem Ipsum ist ein einfacher Demo-Text f체r die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500.
      form.modal__form.feedback-form.feedback-form--light(action="") 
        .feedback-form__grid 
          .feedback-form__item.feedback-form__item--validate-err
            input#feedback-form-modal-reserve-name.feedback-form__input(type="text" placeholder=" ")
            label.feedback-form__label(for="feedback-form-modal-reserve-name") Ihr Vor- und Nachname*
          .feedback-form__item 
            input#feedback-form-modal-reserve-phone.feedback-form__input(type="text" placeholder=" ")
            label.feedback-form__label(for="feedback-form-modal-reserve-phone") Telefonnummer*
          .feedback-form__item 
            input#feedback-form-modal-reserve-email.feedback-form__input(type="text" placeholder=" ")
            label.feedback-form__label(for="feedback-form-modal-reserve-email") E-mail*
          .feedback-form__item 
            input#feedback-form-modal-reserve-date.feedback-form__input(type="text" placeholder=" ")
            label.feedback-form__label(for="feedback-form-modal-reserve-date") Ihr Wunschdatum*
          .feedback-form__item 
            input#feedback-form-modal-reserve-count.feedback-form__input(type="text" placeholder=" ")
            label.feedback-form__label(for="feedback-form-modal-reserve-count") Anzahl der Personen*
          .feedback-form__item 
            input#feedback-form-modal-reserve-message.feedback-form__input(type="text" placeholder=" ")
            label.feedback-form__label(for="feedback-form-modal-reserve-message") Ihre Nachricht
        .feedback-form__checkbox.checkbox
          label.checkbox__label(for="feedback-form-modal-reserve-checkbox")
            input#feedback-form-modal-reserve-checkbox.visually-hidden.checkbox__input(type="checkbox")
            span.checkbox__fake
          .checkbox__desc
            label.checkbox__label(for="feedback-form-modal-reserve-checkbox") Ich bin mit der Verarbeitung meiner Daten entsprechend der
            a.checkbox__link(href="#")  Datenschutzerkl채rung
            label.checkbox__label(for="feedback-form-modal-reserve-checkbox")  einverstanden
        button.feedback-form__submit.btn.btn--primary(type="submit")
          span.btn__inner Anfrage absenden
.modal-wrapper(data-modal-el="jobs")
  .modal
    button.modal__close(type="button")
      svg(width="20" height="20")
        use(xlink:href="sprite.svg#close_sprite") 
    h3.modal__title  Jetzt Teil unseres Teams werden
    p.modal__desc Lorem Ipsum ist ein einfacher Demo-Text f체r die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500.
      .feedback-block__col.feedback-block__col--form 
        form.feedback-form.feedback-form--light(action="") 
          .feedback-form__grid 
            .feedback-form__item.feedback-form__item--validate-err
              input#feedback-form-modal-jobs-name.feedback-form__input(type="text" placeholder=" ")
              label.feedback-form__label(for="feedback-form-modal-jobs-name") Ihr Vor- und Nachname*
            .feedback-form__item 
              input#feedback-form-modal-jobs-phone.feedback-form__input(type="text" placeholder=" ")
              label.feedback-form__label(for="feedback-form-modal-jobs-phone") Telefonnummer*
            .feedback-form__item 
              input#feedback-form-modal-jobs-email.feedback-form__input(type="text" placeholder=" ")
              label.feedback-form__label(for="feedback-form-modal-jobs-email") E-mail*
            .feedback-form__item 
              input#feedback-form-modal-jobs-date.feedback-form__input(type="text" placeholder=" ")
              label.feedback-form__label(for="feedback-form-modal-jobs-date") Ihr Wunschdatum*
            .feedback-form__item 
              input#feedback-form-modal-jobs-count.feedback-form__input(type="text" placeholder=" ")
              label.feedback-form__label(for="feedback-form-modal-jobs-count") Anzahl der Personen*
            .feedback-form__item 
              input#feedback-form-modal-jobs-file.feedback-form__input.feedback-form__input--file.js-attached-files(type="file"  multiple)
              label.feedback-form__label-file(for="feedback-form-modal-jobs-file")
                span.feedback-form__label-file-text Lebenslauf*
                span.feedback-form__file-placeholder
                  svg.feedback-form__clip-icon(width="18" height="18")
                    use(xlink:href="sprite.svg#clip_sprite")
              span.attached-files-area 
                span.attached-files
          .feedback-form__checkbox.checkbox
            label.checkbox__label(for="feedback-form-modal-jobs-checkbox")
              input#feedback-form-modal-jobs-checkbox.visually-hidden.checkbox__input(type="checkbox")
              span.checkbox__fake
            .checkbox__desc
              label.checkbox__label(for="feedback-form-modal-jobs-checkbox") Ich bin mit der Verarbeitung meiner Daten entsprechend der
              a.checkbox__link(href="#")  Datenschutzerkl채rung
              label.checkbox__label(for="feedback-form-modal-jobs-checkbox")  einverstanden
          button.feedback-form__submit.btn.btn--primary(type="submit")
            span.btn__inner Anfrage absenden