section.section.panorama-section(class= !noBlack ? 'section--black-bg' : '')
  .panorama
    .panorama__inner
      picture.panorama__image
        img(src=require('@/images/panorama.jpg'), alt="")
      .panorama__text
        h3.panorama__title 360°-Panorama
        p.panorama__desc Wir laden Sie herzlich auf einen virtuellen 360 Grad Rundgang durch unsere Räumlichkeiten ein.
        a.panorama__btn(data-glightbox data-gallery="1" href="https://my.matterport.com/show/?m=1Q9GaHT7xvZ" role="button")
          svg(width="24" height="28")
            use(xlink:href="sprite.svg#panorama_sprite") 