section.section.section--white-bg 
  .presentation-block.container 
    .presentation-block__col.presentation-block__col--text 
      h3.presentation-block__title Hannover 96 e.V. Sportkegeln
      .presentation-block__desc
        p Der Hauptverein Hannover 96 e.V. bietet seinen über 20.000 Mitglieder ein breit gefächertes Sportangebot in insgesamt 18 verschiedenen Abteilungen. Eine davon ist das Sportkegeln mit 36 Mitgliedern, jeden Alters.
        p Kegeln auf einer Bohlebahn ist eine Präzisionssportart, bei der ein Spieler von einem Ende einer vorgeschrieben gekehlten Holz-Kunststoffbahn aus mit kontrolliertem Schwung eine Kugel ins Rollen bringt, um die am anderen Ende der Bahn aufgestellten neun Kegel umzuwerfen. Die Kegel sind dabei gleichmäßig in Form eines Quadrats angeordnet, das auf der Spitze steht.
      .presentation-block__links
        a.presentation-block__link(href="tel:77777") 
          svg(width="18" height="18")
            use(xlink:href="sprite.svg#phone_sprite") 
          | 017686098142
        a.presentation-block__link(href="") 
          svg(width="18" height="18")
            use(xlink:href="sprite.svg#email_sprite") 
          | E-Mail senden
    .presentation-block__col.presentation-block__col--image 
      picture.presentation-block__image 
        img(src=require('@/images/presentation.jpg'), alt="")