section.section.container 
  - locals.sectionTitle = 'Preise'
  include ../blocks/section-heading
  .price-block 
    .price-block__col.price-block__col--left 
      h3.price-block__title Pro Doppelbahn
      .price-block__count 
        svg(width="18" height="18")
          use(xlink:href="sprite.svg#user_sprite") 
        span  15 Personen (max.)
      .price-block__price 
        span.price-block__price-heading Die erste Stunde
        span.price-block__price-value 18 €
    .price-block__col.price-block__col--right 
      h4.price-block__games-title Die beliebtesten Kegelspiele für jeden Geschmack in unserem Haus — auch im digitalen Format 
      ul.price-block__games-list.price-games-list 
        li.price-games-list__item Grand Prix  Schnelle Runde
        li.price-games-list__item Truck Racing
        li.price-games-list__item Pony Rennen
        li.price-games-list__item Spaßrunde
        li.price-games-list__item Kreis Kegeln
        li.price-games-list__item Jeder gegen Jeden
        li.price-games-list__item Sargkegeln
        li.price-games-list__item 6 Tage Rennen
        li.price-games-list__item Pashkegeln
        li.price-games-list__item 17 und 4
        li.price-games-list__item Tota
        li.price-games-list__item Bohle Tanne
        li.price-games-list__item Schatz der Pharaonen
        li.price-games-list__item Große Tanne
        li.price-games-list__item Kleine Tanne