section.section.container 
  .slider-block 
    .slider-block__text 
      h2.slider-block__title Events
      p.slider-block__desc Probieren Sie die levantische Küche mit osteuropäischer Note, das Beste aus dem Orient und Okzident.  Ob für den Hunger zwischendurch oder anderen Feierlichkeiten wie Geburtstage, Jubiläum, Firmenfeier, Workshops, Meeting & Besprechungen – für jeden Anlass ein perfektes Essen!
      button.slider-block__btn.btn.btn--secondary(type='button') Event anfragen
    .slider-block__slider
      .default-slider.swiper 
        .swiper-wrapper
          each val in [1,2,3,4,5,6]
            .default-slider__item.swiper-slide
              picture.default-slider__image 
                img(src=require('@/images/qwe.jpg'), alt="")
              .default-slider__info
                .default-slider__counter.slider-counter
                  span.slider-counter__current= '0' + val
                  span.slider-counter__length /10
                h3.default-slider__title Große Halle
          .default-slider__pagination.slider-pagination.hidden-desktop
          .default-slider__nav.slider-navigation 
            button.slider-navigation__item.slider-navigation__item--prev
              svg(width="8" height="15")
                use(xlink:href="sprite.svg#arrow_l_sprite") 
            button.slider-navigation__item.slider-navigation__item--next
              svg(width="8" height="15")
                use(xlink:href="sprite.svg#arrow_r_sprite") 

