@use '../utils/mixins' as *;

.contacts-info {
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: var(--font-secondary);

  &__col {
    &--text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--image {
      @include media(md) {
        order: -1;
      }
    }
  }

  &__image {
    overflow: hidden;
    border-radius: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    @include media(md) {
      font-size: rem(20px);
    }

    margin-bottom: 12px;
    font-size: rem(32px);
    opacity: 0.4;
  }

  &__list {
    max-width: 300px;
  }

  &__value {
    @include media(md) {
      font-size: rem(24px);
    }

    font-size: rem(32px);
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin: 0;
    }
  }

  &__socials {
    @include media(md) {
      margin-top: 32px;
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;

  &__heading {
    @include media(md) {
      font-size: rem(20px);
    }

    margin-bottom: 16px;
    font-size: rem(24px);
    opacity: 0.4;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin: 0;
    }
  }
}
