@use '../utils/mixins' as *;

.custom-cursor {
  @include media(md) {
    display: none;
  }

  pointer-events: none;

  position: fixed;
  z-index: 9999;
  transform: translate(-50%, -50%) scale(0);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  color: var(--background-color);

  background: var(--white);
  border-radius: 50%;

  transition: transform 0.5s;

  &.showed {
    transform: translate(-50%, -50%) scale(1);
  }
}
