@use '../utils/mixins' as *;

.features-bar {
  &--grid {
    @include media(md) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__item {
    @include media(md) {
      height: 200px;
      padding: 20px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 260px;
    padding: 30px;

    border: 1px solid rgb(33 33 33 / 20%);
    border-radius: 12px;
  }

  &__image {
    width: 60px;
    height: 60px;

    img {
      display: block;
      display: block;

      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  &__title {
    font-size: rem(20px);
    line-height: 150%;
  }
}
