@use '../utils/mixins' as *;

.lang-switcher {
  position: relative;

  &__list {
    position: absolute;
    top: 100%;
    left: 0;

    display: none;

    width: 100%;
    margin-top: 6px;
    padding: 6px 16px;

    font-size: rem(18px);
    color: var(--background-dark);

    background: #fff;
    background: var(--white);
    border-radius: 6px;

    &.active {
      display: block;
    }
  }

  &--to-top {
    .lang-switcher__list {
      top: auto;
      bottom: 100%;
      margin-top: 0;
      margin-bottom: 6px;
    }
  }

  &__current {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 14px 16px;

    font-size: rem(18px);

    border: 1px solid var(--white-40);
    border-radius: 6px;

    svg {
      margin-left: 8px;
    }
  }

  &__item {
    margin-bottom: 4px;
    line-height: 150%;
    opacity: 0.3;
    transition: 0.5s;

    &:hover {
      opacity: 1;
    }

    &--selected {
      opacity: 1;
    }

    &:last-child {
      margin: 0;
    }
  }
}
