@use '../utils/mixins' as *;

.menu-grid {
  @include media(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;
}
