@use '../utils/mixins' as *;

.menu-category {
  &__row {
    overflow: visible;
  }

  &__section {
    margin-bottom: 80px;

    &:last-child {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 38px;
    font-family: var(--font-secondary);
    font-size: rem(32px);
  }
}
