@use '../utils/mixins' as *;

.mobile-nav-wrapper {
  position: fixed;
  z-index: 1060;
  top: 0;
  left: 0;
  transform: translateY(-100%);

  overflow: auto;

  width: 100%;
  max-height: 100vh;
  padding-bottom: 24px;

  color: var(--white);

  background: var(--background-secondary);

  transition: 0.5s;

  &.opened {
    transform: translateY(0%);
  }

  &__header {
    position: static;
    border-bottom: 1px solid rgb(255 255 255 / 20%);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
  }
}

.mobile-nav {
  padding-top: 32px;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    margin-bottom: 28px;
    font-size: rem(24px);
    line-height: 133%;

    &--current {
      border-bottom: 1px solid currentcolor;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    font-size: rem(20px);
  }
}
