@use '../utils/mixins' as *;

.panorama-section {
  margin-bottom: var(--gap-y);
  padding-bottom: 0;
}

.panorama {
  @include media(md) {
    padding-bottom: calc(350px / 375px * 100%);
  }

  position: relative;
  height: 0;
  padding-bottom: calc(700px / 1440px * 100%);
  color: var(--white);

  &__inner {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    @include media(md) {
      top: 50%;
      transform: translateY(-50%);
    }

    position: absolute;
    z-index: 2;
    top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    text-align: center;
  }

  &__title {
    @include media(md) {
      margin-bottom: 12px;
      font-size: rem(32px);
    }

    margin-bottom: 16px;
    font-family: var(--font-secondary);
    font-size: rem(48px);
    line-height: 125%;
  }

  &__desc {
    @include media(md) {
      max-width: 340px;
      font-size: rem(16px);
    }

    display: block;
    max-width: 440px;
    font-size: rem(20px);
    line-height: 150%;
  }

  &__btn {
    @include media(md) {
      width: 80px;
      height: 80px;
      margin-top: 30px;
    }

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 120px;
    margin-top: 54px;

    background: #ffffff1f;
    border: 1px solid var(--white-40);
    border-radius: 50%;

    transition: background 0.5s;

    svg {
      @include media(md) {
        width: 16px;
        height: 18px;
      }

      color: transparent;
      transition: color 0.5s;
    }

    &:hover {
      background: var(--white);

      svg {
        color: var(--background-dark);
      }
    }
  }
}
