@use '../utils/mixins' as *;

.partners {
  overflow: visible;

  &__item {
    @include media(md) {
      height: 120px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 33px;

    border: 1px solid rgb(16 16 16 / 15%);
    border-radius: 12px;
  }

  &__logo {
    max-width: 100px;
    max-height: 100%;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
