@use '../utils/mixins' as *;

.section-heading {
  @include media(md) {
    flex-direction: column;
    margin-bottom: 30px;
  }

  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  &__title {
    @include media(md) {
      font-size: rem(32px);
    }

    font-family: var(--font-secondary);
    font-size: rem(48px);
    line-height: 125%;
  }

  &__desc {
    @include media(md) {
      margin-top: 18px;
      margin-left: 0;
    }

    max-width: 640px;
    margin-left: 1.5rem;
    font-size: rem(20px);
    line-height: 150%;
  }
}
