.slider-navigation {
  display: flex;
  align-items: center;

  &__item {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    margin-right: 8px;

    background: var(--white);
    border-radius: 50%;

    transition: 0.5s;

    &:hover {
      color: var(--white);
      background: var(--background-secondary);
    }

    &--disabled {
      background: var(--white-40);

      &:hover {
        color: inherit;
        background: var(--white-40);
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}
