@use '../utils/mixins' as *;

.tariffs-table-wrapper {
  overflow: auto;
}

.tariffs-table {
  font-family: var(--font-secondary);
  font-weight: 500;

  &__col {
    border-right: 1px solid #dcddde;

    &:first-child {
      border-left: 1px solid #dcddde;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, minmax(172px, 1fr));

    &--head {
      .tariffs-table__col {
        background: var(--gold-accent);
      }
    }
  }

  &__item {
    padding: 20px;

    font-size: rem(20px);
    text-align: center;
    white-space: nowrap;

    border-bottom: 1px solid #dcddde;

    &--red-text {
      color: var(--red-accent);
    }

    &:first-child:last-child {
      height: 100%;
    }
  }
}
