@use '../utils/mixins' as *;

.video-main-wrapper {
  @include media(md) {
    margin-bottom: 12px;
    padding-bottom: calc(220px / 340px * 100%);
  }

  position: relative;
  height: 0;
  margin-bottom: 30px;
  padding-bottom: calc(600px / 1280px * 100%);
}

.video-main {
  @include media(md) {
    border-radius: 16px;
  }

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;

  border-radius: 12px;

  &__play {
    @include media(sm) {
      font-size: rem(14px);
    }

    position: absolute;
    z-index: 1010;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--white);
    white-space: nowrap;
  }

  &__item {
    &::before {
      content: '';

      position: absolute;
      z-index: 1010;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      opacity: 0.5;
      background: #000;
    }

    &.active {
      &::before {
        opacity: 0;
      }

      .video-main__play {
        display: none;
      }
    }
  }

  &__media {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-thumbs {
  @include media(md) {
    overflow: visible;
  }

  &__item {
    @include media(md) {
      height: 60px;
      border-radius: 8px;
    }

    overflow: hidden;
    height: 180px;
    border-radius: 12px;
    transition: opacity 0.5s;

    &.swiper-slide-thumb-active {
      opacity: 0.5;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
