extends ../layouts/main

block content
  - locals.heroTitle = 'Veranstaltungen zu jedem Anlass'
  - locals.heroDesc = false
  - locals.heroImage = require('@/images/hero/events.jpg')
  include ../blocks/hero
  include ../blocks/features-events
  include ../blocks/services
  include ../blocks/gallery
  include ../blocks/feedback-block
  include ../blocks/video-gallery
  include ../blocks/menu
  - locals.noBlack =  true;
  include ../blocks/panorama
  include ../blocks/events
  include ../blocks/feedback-block