extends ../layouts/single-page

block content
  section.single-header 
    .container 
      h1.single-header__title Impressum
  section.section.section--xl.container
    .single-page 
      .single-page__item 
        h2.single-page__title Angaben gemäss § 5 TMG
        .single-page__data-grid 
          .single-page__data-col 
            .single-page__text 
              address.single-page__desc Roland Island GmbH & Co. KG Möckernstraße 31 30163 Hannover
            .single-page__text 
              h3.single-page__text-title Vertreten durch:
              address.single-page__desc IMO Management GmbH Möckernstraße 31 30161 Hannover
          .single-page__data-col
            .single-page__text
              h3.single-page__text-title Diese vertreten durch:
              .single-page__desc Pavel Mass
            .single-page__text
              h3.single-page__text-title Handelsregister:
              .single-page__desc HRB 219672
            .single-page__text
              h3.single-page__text-title Registergericht:
              .single-page__desc Amtsgericht Hannover
      .single-page__item 
        h2.single-page__title Kontakt
        ul.single-page__list 
          li.single-page__list-item
            span.single-page__list-item-title Telefon:
            a.single-page__list-item-link(href="") 0176 1 222 33 77
          li.single-page__list-item
            span.single-page__list-item-title E-Mail:
            a.single-page__list-item-link(href="") info@m7kgb.com
      .single-page__item 
        h2.single-page__title Umsatzsteuer-ID
        .single-page__desc Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE328988357
      .single-page__item 
        h2.single-page__title EU - streitschlichtung
        .single-page__desc Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: 
          a(href="") https://ec.europa.eu/consumers/odr/. 
          | Unsere E-Mail-Adresse finden Sie oben im Impressum. 
      .single-page__item 
        h2.single-page__title Verbraucher­streit­beilegung/ #[br] Universal­schlichtungs­stelle
        .single-page__desc Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.