extends ../layouts/main

block content
  - locals.heroTitle = 'Speisekarte'
  - locals.heroDesc = 'Eine rundführung durch die location'
  - locals.heroImage = require('@/images/hero/menu.jpg')
  - locals.heroVideo = false
  include ../blocks/hero
  section.section.section--l.section--border-bottom 
    .container.creative-wrapper 
      .creative-wrapper__description 
        p Probier die levantische Küche
          img(src=require('@/images/c1.svg'), alt="")
          | mit osteuropäischer Note, das Beste aus dem Orient und Okzident.  Ob für den Hunger zwischendurch oder anderen Feierlichkeiten wie Geburtstage, Jubiläum, Firmenfeier, Workshops, Meeting & Besprechungen 
          img(src=require('@/images/c2.svg'), alt="")
          | - für jeden Anlass ein perfektes Essen!
  include ../blocks/menu-grid
  include ../blocks/feedback-block